.main-nav {
  height: 40px;
  background-color: #F2AB1C;
  display: flex;
  justify-content: space-between;
}

.main-nav i {
	font-size: 24px;
  color: #F7E691;
  margin: 3px 6px;
}

.main-nav i:hover {
  cursor: pointer;
}

.right-nav ul {
  display: flex;
}

.right-nav ul li:last-of-type {
  line-height: 52px;
}

.left-nav {
  margin: 5px 60px 5px 11px;
}

.settings {
  position: absolute;
  z-index: 7;
  width: 50px;
  height: 16px;
  background-color: white;
  right: 5px;
  padding: 6px;
  font-size: .8125rem;
  border-radius: 3px;
  top: 40px;
}

.main-content {
  background-color: #FBF4D0;
  display: flex;
  flex-direction: row;
  padding-top: 12px;
}
